/**
* Default styles for MyWords.
* You can use your own file by specifying this in MyWords configuration
* or by including this in your theme file.
* 
* @author BitC3R0 <i.bitcero@gmail.com>
*/
.mwitem{
    margin: 0 0 20px 0;
    overflow: hidden;
}
.mwitem h1{
    margin: 0;
}
.mwitem .mwinfotop{
    font-size: 0.8em;
    display: block;
    margin-bottom: 10px;
}
.mwitem .mwtext{
    line-height: 150%;
    margin-bottom: 10px;
    overflow: hidden;
}
.mwitem .mwcontinue{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.mwitem .mwfoot{
    display: block;
    font-size: 0.85em;
}
.mwitem .mwfoot .mwcats{
    display: block;
}
.mwitem .mwfoot .mwtags{
    display: block;
}
.mwitem .mwbooks{
    display: block;
    clear: both;
    padding: 10px 0 0 0;
}
.mwitem .mwbooks img{
    padding: 4px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.mwitem .mwbooks img:hover{
    background: #ebebeb;
}
.pass_description{
    display: block;
    padding: 3px 0;
}
.pass_field{
    display: block;
    padding: 3px 0;
}
.pass_field input{
    display: block;
    margin: 2px 0;
}
.mwtitles{
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    padding: 0 0 3px 0;
    margin-bottom: 10px;
    text-align: right;
}
.mwpostnav{
	overflow: hidden;
	padding: 0 0 4px 0;
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
	text-align: center;
	font-size: 0.8em;
	text-transform: uppercase;
}
.mwpostnav .next{
	float: right;
	display: block;
}
.mwpostnav .prev{
	float: left;
	display: block;
}
h3.tracks_title{
    float: right;
}
#trackbacks-list .tb_item{
    padding: 10px;
    border: 1px dotted #CCC;
    margin: 7px 0;
}
#trackbacks-list .tb_item .title{
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}
#trackbacks-list .tb_item .blogdate{
    font-size: 0.85em;
}
#trackbacks-list .tb_item p{
    background: url(../images/quotes.png) no-repeat left top;
    padding: 0 0 0 40px;
}

/* Images */
.post_image{
    float: left;
    margin: 18px 7px 7px 0;
    padding: 1px;
    border: 1px solid #CCC;
}
.full_post_image{
    display: block;
    margin: 5px auto;
    padding: 1px;
    border: 1px solid #CCC;
}