label.error{
	color: #F00;
}
.mw_biginput{
	width: 98%;
	font-size: 2em;
	padding: 4px;
}
.mw_large{
	width: 95%;
}
.mw_permacont{
	padding: 6px 0;
	color: #666;
	margin: 4px 0;
}
.mw_permainfo{
	border: 1px solid #FED79C;
	background: #FFF9CE;
	color: #000;
	padding: 6px;
	-moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    text-align:center;
}
#shortname{
	background: #FFFFC0;
	color: #333;
	padding: 2px 0;
}
.w_categories{
	padding: 5px;
}