/*
$Id: dashboard.css 555 2010-11-15 16:42:05Z i.bitcero $
*/

.support-me:after{
    content: '';
    display: block;
    clear: both;
}
.support-me img.avatar{
    float: left;
    padding: 1px;
    border: 1px solid #CCC;
    border-radius: 2px;
    margin: 0 5px 0 0;
    width: 80px;
}

#mw_widgets_container{
    overflow: hidden;
    padding: 10px;
}
#mw_widgets_container .mw_right_widgets{
    float: right;
    width: 48%;
}
#mw_widgets_container .mw_left_widgets{
    float: left;
    width: 48%;
}
.mw_qrdata td{
	padding: 4px;
	border-bottom: 1px dotted #CCC;
	font-size: 1.1em;
}
.mw_qrdata td span{
	font-family: georgia, times, serif;
    font-size: 1.4em;
}
.mw_tools{
	overflow: hidden;
}
.mw_tools a.item{
	display: block;
	padding: 0 4px;
	margin: 0 3px 0 0;
	color: #333;
	font-size: 1em;
	font-weight: bold;
}
.mw_tools a.item:hover{
	text-decoration: none;
}
.mw_tools a span{
	color: #666;
	font-size: 0.90em;
	font-weight: normal;
}
div.outer{
	margin-bottom: 10px;
}
span.rmc_options{
	padding-left: 4px;
}
.mw_tools ul{
	line-height: 150%;
}

#mw-recent-news{
    padding: 5px;
}
.news_item{
    padding: 0 0 8px 0;
    margin-bottom: 5px;
    border-bottom: 1px dotted #CCC;
    overflow: hidden;
}
#mw-recent-news .news_item:last-child{
    border-bottom: none;
}
.news_item h3{
    margin: 0 0 10px 0;
}
.news_item a.thumb img{
    float: left;
    margin: 0 5px 2px 0;
    padding: 1px;
    border: 1px solid #CCC;
    width: 60px;
}
.news_item .news_content{
    line-height: 150%;
    color: #444;
}
.news_item .link{
    display: block;
    margin: 10px 0 0 0;
}
#mw-recent-news .news_item:nth-child(n+3){
    padding: 4px;
    border-bottom: 0;
    margin-bottom: 0;
}
#mw-recent-news .news_item:nth-child(n+3) a.thumb,
#mw-recent-news .news_item:nth-child(n+3) .news_content{
    display: none;
}
#mw-recent-news .news_item:nth-child(n+3) h3{
    margin: 0;
    font-size: 0.9em;
    display: inline-block;
}
#mw-recent-news .news_item:nth-child(n+3) .link{
    display: inline-block;
    margin: 0 0 0 10px;
}